.morado {
  background-color: #9e16dd; 
}

.blanco {
  color: white !important;
}

.negro {
  color:  black !important;
}

.slider {
  width: 60%;
  opacity: 0.9;
  margin: 0 auto;
}

.gris {
  color: #ffff !important;
}

.separator {
  margin-top: 100px;
  margin-bottom: 150px;
}

.separator-bottom {
  margin-bottom: 150px;
}

.centrado {
  margin: 0 auto;
  text-align: center;
}

.headers {
  font-family: 'Roboto';
  color: #9e16dd;
}

.filter-button-group {
  padding: 15px;
}

.btn.btn-default {
  padding: 1rem 0;
  font-size: 1.7rem;
  background-color: #147979;
  border-color: #373739;
  border-radius: 0;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default.is-checked {
  background-color: #093737;
  color: white;
  border: none;
  outline: none;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-family: 'Roboto';
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #9e16dd;
   color: white;
}

.to-right {
  float: right;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}


/* modal content styles */
.modal-content-wrapper {
  max-width: 1400px;
  width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0;
}
.modal-content-wrapper .image-modal-content {
  flex: 0 0 30%;
  cursor: pointer;
  transition: 300ms ease-out;
  margin-right: 20px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .modal-content-wrapper .image-modal-content {
    flex: 0 0 45%;
  }
}
@media (max-width: 550px) {
  .modal-content-wrapper .image-modal-content {
    flex: 0 0 100%;
  }
}
.modal-content-wrapper .image-modal-content:hover {
  transform: scale(1.03);
  transition: 300ms ease-in;
}
.modal-content-wrapper .image-modal-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #222;
}

/* modal popup styles */
.image-modal-popup {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  animation: 500ms fadeIn;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-modal-popup .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

.image-modal-popup .description {
  text-align: center;
}
.image-modal-popup img {
  width: 80%;
  max-height: calc(100vh - 150px);
  margin-bottom: 10px;
  cursor: pointer;
}
.image-modal-popup span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 4rem;
  color: red;
  cursor: pointer;
}
.image-modal-popup p {
  margin: 5px auto;
  font-size: 1.1rem;
}
.image-modal-popup a {
  margin-bottom: 5px;
  display: inline-block;
  color: #222;
  font-weight: 500;
  text-decoration: none;
  background: #fff;
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 6px;
}
